<ol class="page-breadcrumb">
  <li>
    <mp-link title="Start" url="{{page-publicPath}}/">Start</mp-link>
  </li>
  <li class="active">My Page</li>
</ol>

<div class='PageToc--pageTocRootContainer'>
  <div class='PageToc--pageTocSidebar'>
    <mp-page-toc></mp-page-toc>
  </div>
  <div class='PageToc--pageTocDocument'>
    <div class="page">
      <div class="page__body">
        {{!-- Complete Page --}}
        <h1 id='header_1'>Header 1</h1>
        <h2 id='header_2'>Header 2</h2>
      </div>
    </div>
  </div>
</div>
